/data
/inputfile
/bin
/obj
/plots
/py_test
/trash
/src/tests
/src/main
*.o
!data/init_conf/R1_init.csv
!data/init_conf/R1vortex_init.csv
!data/init_conf/R2_init.csv

!/inputfile/example_inputfile.dat
!/src/main/main_sim.cpp