/inputfile
/bin
/obj
/plots
/py_test
/trash
/src/tests
!data/init_conf/R1_init.csv
!data/init_conf/R1vortex_init.csv
!data/init_conf/R2_init.csv
/data
!/inputfile/example_inputfile.dat
!/src/main/main_sim.cpp

/src/main
*.o
